name: CI Quality Gate

on:
  pull_request:
    branches: [main]
    paths-ignore:
      - ".github/**"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  NODE_VERSION: 22
  PNPM_VERSION: 10.26.0
  INFISICAL_PROJECT_SLUG: uwdsc-54e-y
  INFISICAL_SECRET_PATH: <insert-path-here> # TODO: Update this value

jobs:
  setup:
    name: Setup & Install Dependencies
    runs-on: ubuntu-latest
    outputs:
      node-version: ${{ env.NODE_VERSION }}
      pnpm-version: ${{ env.PNPM_VERSION }}
      infisical-project-slug: ${{ env.INFISICAL_PROJECT_SLUG }}
      infisical-secret-path: ${{ env.INFISICAL_SECRET_PATH }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: ${{ env.PNPM_VERSION }}

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: pnpm
      - run: pnpm install --frozen-lockfile

  code-quality:
    name: Code Quality
    needs: setup
    uses: uw-datasci/nexus-workflows/.github/workflows/quality-gate.yml@v4
    with:
      node-version: ${{ needs.setup.outputs.node-version }}
      pnpm-version: ${{ needs.setup.outputs.pnpm-version }}
      lint-command: pnpm lint
      typecheck-command: pnpm typecheck

  build:
    name: Build
    needs: [setup, code-quality]
    uses: uw-datasci/nexus-workflows/.github/workflows/build-node.yml@v4
    with:
      node-version: ${{ needs.setup.outputs.node-version }}
      pnpm-version: ${{ needs.setup.outputs.pnpm-version }}
      build-command: pnpm build
      infisical-project-slug: ${{ needs.setup.outputs.infisical-project-slug }}
      infisical-secret-path: ${{ needs.setup.outputs.infisical-secret-path }}
    secrets:
      INFISICAL_CLIENT_ID: ${{ secrets.INFISICAL_CLIENT_ID }}
      INFISICAL_CLIENT_SECRET: ${{ secrets.INFISICAL_CLIENT_SECRET }}

  
  quality-summary:
    name: Quality Gate Summary
    runs-on: ubuntu-latest
    needs: [code-quality, build]
    if: always()
    permissions:
      pull-requests: write
      contents: read

    steps:
      - name: Post Quality Gate Summary
        uses: uw-datasci/nexus-quality-summary@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          code-quality-result: ${{ needs.code-quality.result }}
          build-result: ${{ needs.build.result == 'success' }}
